.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.body-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.sidenav-container{
    flex-basis: 400px;
    flex-shrink: 0;
}
.route-container{
    flex-grow: 1;
}